---
name: 02 Azure Landing Zones Continuous Delivery
on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      terraform_folder:
        description: 'Terraform folder to deploy'
        required: true
        default: 'all'
        type: choice
        options:
          - 'all'
          - 'platform_amba'
          - 'platform_management'
          - 'platform_security'
          - 'platform_shared'
      terraform_action:
        description: 'Terraform Action to perform'
        required: true
        default: 'apply'
        type: choice
        options:
          - 'apply'
          - 'destroy'
      terraform_cli_version:
        description: 'Terraform CLI Version'
        required: true
        default: 'latest'
        type: string

jobs:
  plan_and_apply:
    uses: TysonTech-net/alz-mgmt-templates/.github/workflows/cd-template.yaml@main
    name: 'CD'
    permissions:
      id-token: write
      contents: read
    with:
      terraform_action: ${{ inputs.terraform_action || 'apply' }}
      root_module_folder_relative_path: ${{ inputs.terraform_folder == 'all' && '.' || inputs.terraform_folder || '.' }}
      terraform_cli_version: ${{ inputs.terraform_cli_version || 'latest' }}
